@model ProjConcept.Models.ErrorDetails

<div style="margin-left:auto;margin-right:auto;width:98%;padding-top:20px">
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <h2 class="text-danger">
        Please try again.
    </h2>
</div>

@if (@ViewBag.ViewControl.Dev && Model.ExceptionLoaded && Model.Exception != null)
{
    <div style="margin-left:auto;margin-right:auto;width:80%;padding-top:20px">    
        <div class="jumbotron">
            <h1>Exception Details</h1>            
            <h2>Message</h2>
            <p>@Model.Exception.Message</p>
        
            <h2>Source</h2>
            <p>@Model.Exception.Source</p>
            
            <h2>Stack Trace</h2>
            <p>@Model.Exception.StackTrace</p>
           
            <h2>Full Details</h2>
            <p>@Model.Exception.ToString()</p>
        </div>    
    </div>
}
else if (Model.Exception == null)
{
    <div style="margin-left:auto;margin-right:auto;width:80%;padding-top:20px">
        <div class="jumbotron">
            <h2>Model contains no exception.</h2>
        </div>
    </div>
}