<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProjConcept</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ProjConcept", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @if (@ViewBag.ViewUser != null)
                    {
                        <li>@Html.ActionLink("Notes", "Index", "UserNotes")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>  
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.ViewControl.Admin)
                    {
                        <li>@Html.ActionLink("Manage Users", "Index", "Register")</li>
                    }
                    @if (@ViewBag.ViewUser == null)
                    {
                        <li>@Html.ActionLink("Login/Register", "Login", "Register")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink((string)@ViewBag.ViewUser, "Edit", "Register", new { id = ViewBag.ViewUser }, null)</li>
                        <li>@Html.ActionLink("Logoff", "Logoff", "Register")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ProjConcept</p>
        </footer>
    </div>
</body>
</html>
