@model ProjConcept.Models.User

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserLoginId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLoginId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorizationLevel)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.ViewUser == Model.UserLoginId)
    { @Html.ActionLink("Edit", "Edit", new { id = Model.UserLoginId }, new { @class = "btn btn-primary" }) }
    @if (ViewBag.ViewControl.Admin)
    { @Html.ActionLink("Back to List", "Index", null,new { @class = "btn btn-primary" }) }
</p>
