@model IEnumerable<ProjConcept.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Registered Users</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorizationLevel)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorizationLevel)
                </td>
                <td>
                    <a class="glyphicon glyphicon-list" href=@Url.Action("Details", "Register", new { id = item.UserLoginId })></a>
                    @if (ViewBag.ViewUser == item.UserLoginId)
                    { <a class="glyphicon glyphicon-cog" href=@Url.Action("Edit", "Register", new { id=item.UserLoginId })></a> }
                    else
                    { <a class="glyphicon glyphicon-trash" href=@Url.Action("Delete", "Register", new { id=item.UserLoginId })></a> }
                </td>
            </tr>
        }
    </table>
</div>
